:local(.container) {
    position: relative;
    max-width: 600px;
    max-height: 780px;
    width: 100vw;
    height: 130vw;

}

:local(.display) {
    composes: lightBackground from "./base.css";
    position: relative;
    width: 100%;
    height: 15%;
    color: #3A352F;
    font-family: "DSEG7";
    font-weight: 700;
    font-size:  10vmin;
    text-align: right;

    display: flex;
}

:local(.display) > section {
    flex: 1 100%;
    display: flex;
    align-items: center;
}

:local(.display) > section > section {
    flex: 1 90%;
}

:local(.buttons) {
    composes: darkBackground from "./base.css";
    position: relative;
    width: 100%;
    height:85%;

}

:local(.actions) {
    position: relative;
    height: 100%;
    width: 25%;
    float: right;

    display: flex;
    flex-direction: column;
}

:local(.numbers) {
    position: relative;
    height: 100%;
    width: 75%;
    float: left;
}

:local(.numbersContainer) {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-content: space-around;
}            

:local(.buttonRow) {
    composes: medBackground from "./base.css";
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-items: center;
}

:local(.digitButton) {
    composes: lightText from "./base.css";
    composes: button from "./base.css";
    composes: threeUp from "./base.css";
    font-size: 12vmin;
}

:local(.actionButton) {
    composes: lightText from "./base.css";
    composes: button from "./base.css";

    font-size: 9vmin;
}

:local(.clearButton) {
    composes: button from "./base.css";
    composes: contrast from "./base.css";
}

:local(.bigDigitButton) {
    composes: digitButton;
    composes: threeUpDouble from "./base.css";
}
